<footer class="text-center text-lg-start py-5">
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-10 col-md-12 mb-5 mb-md-0">
        <h5 class="text-uppercase green-font mb-4">GET IN TOUCH VIA EMAIL</h5>

        <p>
            <a title="April Phuong's Email" class="link" href="mailto:hello@aprilphuong.com" target="_blank" rel="noopener" data-mce-href="mailto:hello@aprilphuong.com" data-mce-selected="1">﻿
                <span class="line-through" data-content="hello@aprilphuong.com">hello@aprilphuong.com</span>                    
            </a>
        </p>
        <p class="lead pt-5">
            handcrafted by me © 2021  •  made in los angeles
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase green-font mb-4">Let's Connect</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.linkedin.com/in/aprilphuong/" target="_blank" class="link"><span class="line-through" data-content="linkedin">linkedin</span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/april.phg" target="_blank" class="link"><span class="line-through" data-content="instagram">instagram</span></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

</footer>